{% load static %}
<!-- Footer -->
<footer class="footer">
<div class="wrapper">
  <div class="content-footer" data-sal-duration="1200" data-sal="fade" data-sal-delay="400" data-sal-easing="ease-out-bounce">
    <p>© <span class="year"></span> pitahaya - Agencia digital. All Rights Reserved | Made With <i class="fa fa-heart" aria-hidden="true"></i> by <img src="{% static 'images/brand/logotipo-pitahaya-white-footer.svg' %}" width="80" height="" alt="pitahaya agencia digital"></p>
  </div>
</div>
</footer>
