{% extends 'base.html' %}
{% load static %}
{% block title %} | Agencia Digital{% endblock %}
{% block content %}

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MQQ877D"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Hero -->
<section class="hero" id="hero">
  <div class="wrapper">

        <video autoplay muted loop id="myVideo">
          <!-- <source src="{% static 'videos/timelapse_sunset.mp4' %}" type="video/mp4"> -->
          <source src="{% static 'videos/f8.mp4' %}" type="video/mp4">
        </video>
    <h1><strong>pitahaya</strong> es una agencia especializada en <strong>branding</strong>, <strong>diseño</<strong></strong>, <strong>marketing digital</strong> y <strong>desarrollo web</strong>.</h1>
    <div class=lines>
      <span class=side-lines></span>
      <span class=bottom-lines></span>
    </div>
    <span class=logo>
      <img class="logo-brand" src="{% static 'images/brand/logotipo-pitahaya-white-nuevo-2.svg' %}" alt="pitahaya - Agencia digital" width="210px">
      <img class="isotipo-resp" src="{% static 'images/brand/isotipo-pitahaya-color.svg' %}" alt="pitahaya - Digital agency" width="35px" height="35px" id="nav-logo">
    </span>
  </div>
</section>

<!-- Agency Methodology -->
<section class="agencia" id="agencia">
  <div class="metodologia-bg">
    <div class="wrapper">
      <div class="metodologia-container">
        <div class="item metodologia-pq-nosotros" data-sal-duration="1200" data-sal="slide-down" data-sal-delay="300" data-sal-easing="ease-out-bounce">
          <h2>¿Por qué <strong>nosotros</strong>? </h2>
          <p>Como la misma manera de una pitahaya con su alto poder antioxidante, previniendo la oxidación de otras moléculas.
             Nosotros disponemos de altos beneficios que nos permite entender el proceso de transformación digital previniendo
             la oxidación de tu marca. Combinando branding, marketing digital, diseño y desarrollo web para crear y perfeccionar
             tus canales de comunicación digital y herramientas de negocio. ¡Somos tu socio comercial!</p>
        </div>
        <!-- <div class="item metodologia-description" data-sal-duration="1200" data-sal="slide-down" data-sal-delay="200" data-sal-easing="ease-out-bounce">
          <h3>Nuestra Metodología</h3>
          <h1>Design thinking by <strong>pitahaya.</strong></h1>
          <p>Para poder conectar con las personas, necesitamos entenderlas, saber qué es realmente lo que necesitan, les gusta o están buscando. Necesitamos comenzar a formar parte de sus vidas. Para conseguirlo, hemos creado un proceso propio basado en metodologías como el <strong> Design Thinking,</strong> que nos permite realizar y encontrar la solución más adecuada, así como testeada y replanteada constantemente.</p>
        </div> -->
        <div class="item metodologia-slideshow" data-sal-duration="1200" data-sal="slide-down" data-sal-delay="600" data-sal-easing="ease-out-bounce">
          <div class="slideshow-container">
             <div class="mySlides fade">
                 <img src="{% static 'images/metodologia-0.png' %}" style='width: 100%;' alt="Design thinking by pitahaya"/>
                 <h4 class="titulo-slider">Design thinking by pitahaya</h4>
                 <p class="descripcion-slider">Nuestro proceso basado en el Design Thinking y Agile nos permite conocer el contexto
                 de cada modelo de negocio, lo que nos lleva a analizar, descubrir y testear la solución más adecuada.</p>
             </div>
             <div class="mySlides fade">
                 <img  src="{% static 'images/metodologia-new-1.png' %}" style='width: 100%;' alt="Design thinking by pitahaya"/>
                 <h4 class="titulo-slider">Descubrir</h4>
                 <p class="descripcion-slider">Formamos parte del contexto del cliente para comprender su situación actual,
                 problemas e hipótesis. Asimismo analizamos el contexto del usuario final para entender sus necesidades y comportamiento.</p>
             </div>
             <div class="mySlides fade">
                 <img  src= "{% static 'images/metodologia-new-2.png' %}" style='width: 100%;' alt="Design thinking by pitahaya"/>
                 <h4 class="titulo-slider">Definir</h4>
                 <p class="descripcion-slider">Estudiamos, traducimos y sintetizamos lo obtenido en la etapa “Descubrir”, transformándolo en
                 oportunidades donde se originan las ideas y propuestas de valor tanto para el cliente como usuario final.</p>
             </div>
             <div class="mySlides fade">
                 <img  src= "{% static 'images/metodologia-new-3.png' %}" style='width: 100%;' alt="Design thinking by pitahaya"/>
                 <h4 class="titulo-slider">Comprobar</h4>
                 <p class="descripcion-slider">Los conceptos e ideas son criticadas, cuestionadas. Creamos prototipos rápidos poniéndolos a
                 prueba en el contexto donde fueron descubiertos. Replanteamos y mejoramos hasta llegar a un concepto más aterrizado. </p>
             </div>
             <div class="mySlides fade">
                 <img  src= "{% static 'images/metodologia-new-4.png' %}" style='width: 100%;' alt="Design thinking by pitahaya"/>
                 <h4 class="titulo-slider">Desarrollar</h4>
                 <p class="descripcion-slider">El camino definido se empieza a desarrollar, acercándose cada vez más a la realidad.
                 Una vez finalizada, la ponemos a prueba, para luego ajustar pequeños detalles y obtener una propuesta concreta.</p>
             </div>
             <div class="mySlides fade">
                 <img  src= "{% static 'images/metodologia-new-5.png' %}" style='width: 100%;' alt="Design thinking by pitahaya"/>
                 <h4 class="titulo-slider">Despegar</h4>
                 <p class="descripcion-slider">Se lo muestra al usuario, lo lanzamos y medimos su impacto de acuerdo a
                 los alcances definidos en el proyecto. Es momento de “redescubrir”.</p>
             </div>
             <a class="prev" onclick='prevSlides(-1)'>&#10094;</a>
             <a class="next" onclick='plusSlides(1)'>&#10095;</a>
          </div>
             <div class="dots" style='text-align: center;'>
               <span class="dot" onclick='currentSlide(1)'></span>
               <span class="dot" onclick='currentSlide(2)'></span>
               <span class="dot" onclick='currentSlide(3)'></span>
               <span class="dot" onclick='currentSlide(4)'></span>
               <span class="dot" onclick='currentSlide(5)'></span>
               <span class="dot" onclick='currentSlide(6)'></span>
             </div>
        </div>
        <div class="item metodologia-que-hacemos" data-sal-duration="1200" data-sal="slide-down" data-sal-delay="700" data-sal-easing="ease-out-bounce">
          <h1>¿ERES PYME?</h1>
          <P>CONOCE MÁS SOBRE NUESTRA METODOLOGÍA</P>
          <a href="{% url 'pymes' %}" class="button-link-0 style-4 pushtop-30">CONOCE MÁS </a>
        </div>
    </div>
  </div>
</section>
<!-- Agency Mobile Slider -->
<section>
  <div class="mobile-slider">

    <div class="slider">
        <img src="{% static 'images/mobile/design-thinking.png' %}" alt="">
        <h4 class="top-center-mobile-text bg-mobile-text">Design thinking by pitahaya</h4>
        <p class="center-mobile-text bg-mobile-text">Trabajamos bajo un proceso propio basado en metodologías
           como Design Thinking y Agile, que nos permite analizar, encontrar, y testear
          la solución más adecuada para cada negocio en particular.</p>
    </div>

    <div class="slider">
        <img src="{% static 'images/mobile/design-thinking-descubrir.png' %}" alt="">
        <h4 class="top-center-mobile-text bg-mobile-text">Descubrir</h4>
        <p class="center-mobile-text bg-mobile-text">Nos incorporamos en el contexto del cliente para entender el panorama actual, problemas e hipótesis. Además estudiamos el contexto del usuario o consumidor final para entender su comportamiento y necesidades.</p>
    </div>

    <div class="slider">
        <img src="{% static 'images/mobile/design-thinking-definir.png' %}" alt="">
        <h4 class="top-center-mobile-text bg-mobile-text">Definir</h4>
        <p class="center-mobile-text bg-mobile-text">Entendemos, interpretamos y sintetizamos lo recogido en la etapa de “Descubrir”, y lo transformamos en oportunidades donde nacen las ideas y conceptos de valor tanto para nuestros clientes como para el usuario o consumidor final.</p>
    </div>

    <div class="slider">
        <img src="{% static 'images/mobile/design-thinking-comprobar.png' %}" alt="">
        <h4 class="top-center-mobile-text bg-mobile-text">Comprobar</h4>
        <p class="center-mobile-text bg-mobile-text">Entendemos, interpretamos y sintetizamos lo recogido en la etapa de “Descubrir”, y lo transformamos en oportunidades donde nacen las ideas y conceptos de valor tanto para nuestros clientes como para el usuario o consumidor final.</p>
    </div>

    <div class="slider">
        <img src="{% static 'images/mobile/design-thinking-desarrollo.png' %}" alt="">
        <h4 class="top-center-mobile-text bg-mobile-text">Desarrollo</h4>
        <p class="center-mobile-text bg-mobile-text">Entendemos, interpretamos y sintetizamos lo recogido en la etapa de “Descubrir”, y lo transformamos en oportunidades donde nacen las ideas y conceptos de valor tanto para nuestros clientes como para el usuario o consumidor final.</p>
    </div>

    <div class="slider">
        <img src="{% static 'images/mobile/design-thinking-despegar.png' %}" alt="">
        <h4 class="top-center-mobile-text bg-mobile-text">Despegar</h4>
        <p class="center-mobile-text bg-mobile-text">Entendemos, interpretamos y sintetizamos lo recogido en la etapa de “Descubrir”, y lo transformamos en oportunidades donde nacen las ideas y conceptos de valor tanto para nuestros clientes como para el usuario o consumidor final.</p>
    </div>



   </div>
</section>

<!-- Services -->
<section class="servicios" id="servicios">
    <div class="servicios-bg" id="serviciosFloating">
      <div class="wrapper">
            <div class="servicios-container" data-sal-duration="1200" data-sal="zoom-in" data-sal-delay="300" data-sal-easing="ease-out-bounce">
                  <div class="serv-item servicio-title">
                    <h1>Nuestros <strong>servicios</strong></h1>
                    <h3>Escuchamos, pensamos, creamos y te conectamos a tu audiencia</h3>
                  </div>
                  <div class="serv-item opcion servicio-estrategico" onclick='currentServicio(1)'>
                    <h4>Servicios Estratégicos</h4>
                  </div>
                  <div class="serv-item opcion servicio-creativo" onclick='currentServicio(2)'>
                    <h4>Servicios de creatividad</h4>
                  </div>
                  <div class="serv-item opcion servicio-desarrollo" onclick='currentServicio(3)'>
                    <h4>Servicios de desarrollo</h4>
                  </div>

                  <!-- responsive -->

                  <div class="servicios-responsive estrategy-resp">
                    <img src="{% static 'images/estrategy-icon-movil.png' %}" alt="Servicio estratégico">
                    <h4>Servicio Estratégico </h4>
                    <p>Diseñamos un plan basado en estrategias, con el propósito de alcanzar objetivos establecidos, apoyados en un pensamiento analítico con destrezas técnicas y creativas.
                      Proporcionamos diversos conceptos a través de nuestro proceso PithayaThinking.</p>
                      <div class="lista-tareas">
                      <p>
                        <span>Inbound marketing</span>
                        <span>Social media</span>
                        <span>SEO / SEM</span>
                        <span>Diseño de experiencia de usuario</span>
                      </p>
                      </div>
                  </div>

                  <div class="servicios-responsive creative-resp">
                    <img src="{% static 'images/creative-icon-movil.png' %}" alt="Servicio de creatividad">
                    <h4>Servicio de creatividad</h4>
                    <p>Construimos una relación de confianza y fidelidad entre tu marca y cliente, desarrollando un concepto creativo
                       que genera una experiencia personal y emocional. Transformando tu marca y su relación con la sociedad.</p>
                      <div class="lista-tareas">
                       <p>
                         <span>Identidad de marca</span>
                         <span>Diseño digital / impresión</span>
                         <span>Video / fotografía</span>
                         <span>UI / UX</span>
                       </p>
                     </div>
                  </div>
                  <div class="servicios-responsive development-resp">
                    <img src="{% static 'images/desarrollo-icon-movil.png' %}" alt="Servicio de desarrollo">
                    <h4>Servicio de desarrollo</h4>
                    <p>Innovamos en el desarrollo tecnólogico, optimizando y maximizando tu negocio actual, para poder identificar
                       oportunidades de innovación combinando creatividad y tecnología. Te ofrecemos soluciones escalables que ayudarán
                       a tu crecimiento.</p>
                      <div class="lista-tareas">
                       <p>
                         <span>Web</span>
                         <span>Aplicaciones móviles</span>
                         <span>E-commerce</span>
                       </p>
                     </div>
                  </div>

                   <!-- fin responsive -->

                  <div class="serv-item output-servicios fade">
                    <h5>Servicios Estratégicos</h5>
                    <p>Diseñamos un plan basado en estrategias, con el propósito de alcanzar objetivos establecidos, apoyados en un pensamiento analítico con destrezas técnicas y creativas.
                      Proporcionamos diversos conceptos a través de nuestro proceso PithayaThinking.</p>
                      <div class="lista-tareas">
                      <p>
                        <span>Inbound marketing</span>
                        <span>Social media</span>
                        <span>SEO / SEM</span>
                        <span>Diseño de experiencia de usuario</span>
                      </p>
                      </div>
                    <!-- <a href="#contacto" title="Learn more about pitahaya - Digital agency" class="btn2 home-btn"><span>Conoce más</span></a> -->
                    <a href="#contacto" class="button-link-00 style-5 pushtop-30">CONOCE MÁS </a>
                  </div>

                  <div class="output-servicios fade">
                    <h5>Servicios de creatividad</h5>
                    <p>Construimos una relación de confianza y fidelidad entre tu marca y cliente, desarrollando un concepto creativo
                       que genera una experiencia personal y emocional. Transformando tu marca y su relación con la sociedad.</p>
                      <div class="lista-tareas">
                       <p>
                         <span>Identidad de marca</span>
                         <span>Diseño digital / impresión</span>
                         <span>Video / fotografía</span>
                         <span>UI / UX</span>
                       </p>
                     </div>
                    <a href="#contacto" class="button-link-00 style-5 pushtop-30">CONOCE MÁS </a>
                    <!-- <a href="#contacto" title="Learn more about pitahaya - Digital agency" class="btn2 home-btn"><span>Conoce más</span></a> -->
                  </div>

                  <div class="output-servicios fade">
                    <h5>Servicios de desarrollo</h5>
                    <p>Innovamos en el desarrollo tecnólogico, optimizando y maximizando tu negocio actual, para poder identificar
                       oportunidades de innovación combinando creatividad y tecnología. Te ofrecemos soluciones escalables que ayudarán
                       a tu crecimiento.</p>
                      <div class="lista-tareas">
                       <p>
                         <span>Web</span>
                         <span>Aplicaciones móviles</span>
                         <span>E-commerce</span>
                       </p>
                     </div>
                    <!-- <a href="#contacto" title="Learn more about pitahaya - Digital agency" class="btn2 home-btn"><span>Conoce más</span></a> -->
                    <a href="#contacto" class="button-link-00 style-5 pushtop-30">CONOCE MÁS </a>

                  </div>
                </div>
      </div>
    </div>
</section>

<!-- Portfolio -->
<section class="portfolio" id="portfolio">
  <div class="portfolio-bg">
    <div class="wrapper">

        <div class="portfolio-header" data-sal-duration="1200" data-sal="fade" data-sal-delay="300" data-sal-easing="ease-out-bounce" >
          <h2 class="title-portfolio-header"><strong>Clientes</strong> que confian en nosotros</h2>
          <p class="message-portfolio-header">¡Disfrutamos <strong>crear!</strong> </p>
          <p class="description-portfolio-header">Ofrecemos proyectos de óptima calidad cuidando los aspectos fundamentales que representan la imagen y marca de nuestros clientes.</p>
        </div>

      <div id="myBtnContainer" data-sal-duration="1200" data-sal="slide-up" data-sal-delay="700" data-sal-easing="ease-out-bounce">
        <button class="btn-portfolio active-tab fuente" onclick="filterSelection('all')"> Todos</button>
        <button class="btn-portfolio fuente" onclick="filterSelection('development')"> Web / App</button>
        <button class="btn-portfolio fuente" onclick="filterSelection('branding')"> Branding</button>
        <button class="btn-portfolio fuente" onclick="filterSelection('ar')"> Social Media</button>
      </div>

        <div class="row">

            <div id="btnModal" class="category-portfolio development" data-sal-duration="1200" data-sal="fade" data-sal-delay="700" data-sal-easing="ease-out-bounce">
              <div class="content cursor-portfolio">
                <a><img src="{% static 'images/mountains.jpg' %}" alt="Mountains" style="width:100%"></a>
                <div class="center-business">
                  <h6>venta de filtros de agua</h6>
                </div>
              </div>
            </div>

              <div class="modal" id="modal">

                <div class="modal-content">
                  <span class="close" id="close">&times;</span>
                  <img src="{% static 'images/portfolio/sika.jpg' %}" alt="" style="width:100%" class="image-modal-responsive">

                  <h2>Buen Trip <span>Store (En Desarrollo)</span></h2>
                  <p>Desarrollo de estrategias de lanzamiento de marca, desarrollo de e-commerce, gestión y planificación de pauta digital. </p>
                  <hr>
                  <h3>Detalles del Proyecto</h3>
                  <ul class="list-modal-project">
                    <li><b>Servicios: </b>Desarrollo Web | Social Media | Marketing Digital | Diseño Gráfico | Publicidad Impresa | Diseño Multimedia</li>
                    <li><b>Fecha: </b>Marzo, 2017 - Actualidad</li>
                    <!-- <li><b>Visitar Fan Page: </b><a>Buen Trip Store<i aria-hidden="true" class="fa fa-external-link"></i></a></li> -->
                    <hr>
                    <div class="btn-holder">
                      <a href="#" class="button-link-0 style-4 pushtop-30">VISITAR SITIO </a>
                    </div>
                  </ul>

                  <!-- <p>Algo de texto en el modal..</p> -->
                </div>
              </div>

            <div class="category-portfolio development" data-sal-duration="1200" data-sal="fade" data-sal-delay="700" data-sal-easing="ease-out-bounce">
              <div class="content">
              <img src="{% static 'images/lights.jpg' %}" alt="Lights" style="width:100%">
                <h4>Lights</h4>
                <p>Lorem ipsum dolor..</p>
              </div>
            </div>

            <div class="category-portfolio development" data-sal-duration="1200" data-sal="fade" data-sal-delay="700" data-sal-easing="ease-out-bounce">
              <div class="content">
              <img src="{% static 'images/nature.jpg' %}" alt="Nature" style="width:100%">
                <h4>Forest</h4>
                <p>Lorem ipsum dolor..</p>
              </div>
            </div>

            <div class="category-portfolio branding" data-sal-duration="1200" data-sal="fade" data-sal-delay="700" data-sal-easing="ease-out-bounce">
              <div class="content">
                <img src="{% static 'images/cars1.jpg' %}" alt="Car" style="width:100%">
                <h4>Retro</h4>
                <p>Lorem ipsum dolor..</p>
              </div>
            </div>

            <div class="category-portfolio branding" data-sal-duration="1200" data-sal="fade" data-sal-delay="700" data-sal-easing="ease-out-bounce">
              <div class="content">
              <img src="{% static 'images/cars2.jpg' %}" alt="Car" style="width:100%">
                <h4>Fast</h4>
                <p>Lorem ipsum dolor..</p>
              </div>
            </div>

            <div class="category-portfolio branding" data-sal-duration="1200" data-sal="fade" data-sal-delay="700" data-sal-easing="ease-out-bounce">
              <div class="content">
              <img src="{% static 'images/cars3.jpg' %}" alt="Car" style="width:100%">
                <h4>Classic</h4>
                <p>Lorem ipsum dolor..</p>
              </div>
            </div>

            <div class="category-portfolio ar" data-sal-duration="1200" data-sal="fade" data-sal-delay="700" data-sal-easing="ease-out-bounce">
              <div class="content">
                <img src="{% static 'images/people1.jpg' %}" alt="Car" style="width:100%">
                <h4>Girl</h4>
                <p>Lorem ipsum dolor..</p>
              </div>
            </div>

            <div class="category-portfolio ar" data-sal-duration="1200" data-sal="fade" data-sal-delay="700" data-sal-easing="ease-out-bounce">
              <div class="content">
              <img src="{% static 'images/people2.jpg' %}" alt="Car" style="width:100%">
                <h4>Man</h4>
                <p>Lorem ipsum dolor..</p>
              </div>
            </div>

            <div class="category-portfolio ar" data-sal-duration="1200" data-sal="fade" data-sal-delay="700" data-sal-easing="ease-out-bounce">
              <div class="content">
              <img src="{% static 'images/people3.jpg' %}" alt="Car" style="width:100%">
                <h4>Woman</h4>
                <p>Lorem ipsum dolor..</p>
              </div>
            </div>
        </div>

    </div>
  </div>
</section>

<!-- Contact -->
<section class="contact-pitahaya" id="contacto">
  <div class="contact-bg">
    <div class="wrapper">

      <div class="contact-container">
        <div class="item-contact contact-header" data-sal-duration="1200" data-sal="slide-down" data-sal-delay="300" data-sal-easing="ease-out-bounce">
          <h2>¿Cuándo nos <strong>juntamos</strong>?</h2>
          <p>¡Hola y gracias por llegar hasta aquí! Empecemos tu proyecto ahora mismo, llena el siguiente formulario ¡Nosotros nos pondremos en contacto contigo!</p>
        </div>

        <div class="item-contact contact-left" data-sal-duration="1200" data-sal="flip-up" data-sal-delay="700" data-sal-easing="ease-out-bounce">
          {% include 'partials/_alerts.html' %}
          <form action="{% url 'contact' %}" method="POST" class="form">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Nombre" required>
            <input type="email" name="email" placeholder="Email" required>
            <div class="mensaje-formulario">
            <textarea name="message" placeholder="Mensaje" rows="15" required></textarea>
            </div>
            <button type="submit" class="button-link-form style-6">Enviar</button>
          </form>
        </div>

        <div class="item-contact contact-right" data-sal-duration="1200" data-sal="flip-down" data-sal-delay="900" data-sal-easing="ease-out-bounce">
            <!-- <div id="map"></div> -->
            <div class="contact-details">
                <div class="telefono">
                  <i class="fab fa-whatsapp fa-1x"></i>
                  <!-- <i class="fab fa-whatsapp"></i> -->
                </div>
                <div class="email">
                  <i class="far fa-envelope-open fa-1x"></i>
                </div>
                <div class="direccion">
                  <!-- <i class="fas fa-map-marker-alt fa-1x"></i> -->
                  <p>Guayaquil-ecuador <br /> Bálsamos 118 y Calle Única <br />Edificio Semgroup</p>
                </div>

                <div class="redes-pitahaya">
                  <i class="fab fa-facebook-square fa-3x"></i>
                  <i class="fab fa-instagram fa-3x"></i>
                  <i class="fab fa-youtube fa-3x"></i>
                  <i class="fab fa-linkedin-in fa-3x"></i>
                </div>
            </div>
        </div>

      </div>

    </div>
  </div>
</section>

{% endblock %}
