{% extends 'base-inner.html' %}
{% load static %}

{% block content %}

<section class="hero-pyme">
				<div class="header-slide slide-3">
					<img src="https://via.placeholder.com/1920x1020" alt="Slider Background" class="slider-background">
					<div class="container">
						<div class="row">
							<div class="col-lg-6 offset-lg-6">
								<h2><span class="nowrapped">We build beautiful</span><br><span class="nowrapped">design and more</span></h2>
							</div>
							<div class="col-lg-6 offset-lg-6">
								<p>
									Duis autem vel eum iriure dolor in hendrerit in vulputate
									velit esse mugiat nuesent lupt te fegait nulla facilisi.
								</p>
							</div>
							<div class="col-lg-6 offset-lg-6">
								<a href="#" class="button-link-1 style-3 pushtop-30">FIND OUT HOW <i class="fa fa-caret-right"></i></a>
							</div>
						</div>
					</div>
				</div>
	</section>

  <main>

		<div class="widget-1 text-center">
			<div class="container">
				<div class="row">
					<div class="col-md-4 drag-this-left">
						<section>
							<div class="image-holder">
								<img src="https://via.placeholder.com/154x105" alt="widget-image">
							</div>
							<h6>Work from everywhere</h6>
							<p>
								Consetetur sadipscing elitr, sed diam nonumy eirmod tempor
								invidunt ut labore et dolor erat, sed diam voluptua.
							</p>
						</section>
					</div>
					<div class="col-md-4 drag-this-up">
						<section>
							<div class="image-holder">
								<img src="https://via.placeholder.com/166x125" alt="widget-image">
							</div>
							<h6>Manage your schedule</h6>
							<p>
								Consetetur sadipscing elitr, sed diam nonumy eirmod tempor
								invidunt ut labore et dolor erat, sed diam voluptua.
							</p>
						</section>
					</div>
					<div class="col-md-4 drag-this-right">
						<section>
							<div class="image-holder">
								<img src="https://via.placeholder.com/152x115" alt="widget-image">
							</div>
							<h6>Increase your workrates</h6>
							<p>
								Consetetur sadipscing elitr, sed diam nonumy eirmod tempor
								invidunt ut labore et dolor erat, sed diam voluptua.
							</p>
						</section>
					</div>
				</div>
			</div>
		</div>

		<div class="widget-2 text-left pushtop-180 drag-this-up">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<p class="pretitle">WHAT WE DO</p>
						<h3>Check our services and expertise</h3>
						<p>
							Nam liber tempor cum soluta nobis eleifend option congue
							nihil imperdiet doming id quod mazim placerat facer
							possim assum. Lorem ipsum dolor sit amet, consectetuer
							adipiscing elit, sed diam nonummy nibh euismod tincidunt.
						</p>

					</div>
					<div class="col-lg-6">
						<img src="https://via.placeholder.com/727x668" alt="widget-image">
					</div>
				</div>
			</div>
		</div>

		<div class="widget-2 text-right pushtop-180 drag-this-up">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<img src="https://via.placeholder.com/619x635" alt="widget-image" class="pull-right">
					</div>
					<div class="col-lg-6">
						<p class="pretitle">OUR SERVICES</p>
						<h3>It is our passion to create high quality</h3>
						<p>
							Nam liber tempor cum soluta nobis eleifend option congue
							nihil imperdiet doming id quod mazim placerat facer
							possim assum. Lorem ipsum dolor sit amet, consectetuer
							adipiscing elit, sed diam nonummy nibh euismod tincidunt.
						</p>

					</div>
				</div>
			</div>
		</div>


	</main>


{% endblock %}
