{% extends 'base-inner.html' %}
{% load static %}
{% block title %} | Pymes{% endblock %}
{% block content %}

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MQQ877D"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<section class="hero-pyme">
				<div class="header-slide slide-3">
					<img src="{% static 'images/pymes/pymes-bg-hero.png' %}" alt="Slider Background" class="slider-background">
					<div class="container">
						<div class="row">
							<div class="col-lg-6 offset-lg-6">
								<h2 class="nowrapped"><span>Conectamos estrategia,</span><br>diseño y tecnología.</h2>
							</div>
							<div class="col-lg-6 offset-lg-6">
								<p>
									Incrementa tus ventas y genera nuevos usuarios / clientes potenciales a través
									de campañas de marketing digital.
								</p>
							</div>
							<div class="col-lg-6 offset-lg-6">
								<a href="{% url 'contacto' %}" class="button-link-1 style-3 pushtop-30">CONOCE MÁS <i class="fa fa-caret-right"></i></a>
							</div>
						</div>
					</div>
				</div>
	</section>

  <main>

		<div class="widget-1 text-center">
			<div class="container">
				<h3>RESULTADOS DE TRABAJAR CON PITAHAYA AGENCIA DIGITAL</h3><br />
				<div class="row">
					<div class="col-md-4 drag-this-left">
						<section>
							<div class="image-holder">
								<img src="{% static 'images/pymes/pymes-productividad.png' %}" alt="widget-image">
							</div>
							<h6>Impulsar productividad</h6>
							<p>
								Más resultados, menos personal de planta. Al trabajar con nosotros tienes un equipo de profesionales innovadores a tu disposición.
							</p>
						</section>
					</div>
					<div class="col-md-4 drag-this-up">
						<section>
							<div class="image-holder">
								<img src="{% static 'images/pymes/pymes-aumento-leads.png' %}" alt="widget-image">
							</div>
							<h6>Aumento de leads</h6>
							<p>
								Impulsamos estrategias de inbound marketing que generan clientes potenciales calificados y
								fomentan las oportunidades de ventas.
							</p>
						</section>
					</div>
					<div class="col-md-4 drag-this-right">
						<section>
							<div class="image-holder">
								<img src="{% static 'images/pymes/pymes-conversion-tasas.png' %}" alt="widget-image">
							</div>
							<h6>Mejora de las tasas de conversión</h6>
							<p>
								Para mejorar el ratio de conversión, es esencial atender los CTAs (llamadas a acción) del sitio. Los CTAs
								son una herramienta clave para conducir a tus visitantes hacia
								la acción que deseas que hagan.
							</p>
						</section>
					</div>
				</div>
			</div>
		</div>

		<div class="widget-2 text-left pushtop-180 drag-this-up">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<p class="pretitle">¿QUÉ HACEMOS?</p>
						<h3 class="h3-size">Ayudamos a nuestros clientes a acelerar su <strong>crecimiento.</strong></h3>
						<p>
							Nos preocupamos de la experiencia del cliente / usuario por medio de la <strong>tecnología</strong> y el <strong>diseño de contenidos,
							productos y servicios digitales</strong>. Creemos que un proceso de transformación digital debe
							accionarse desde diferentes frentes del negocio; donde la experiencia de usuario es el eje sobre el
							cual se transforman los procesos operacionales y el modelo de negocio.
						</p>
						<a href="{% url 'contacto' %}" class="button-link-1 pushtop-30">COTIZAR</a>
					</div>
					<div class="col-lg-6">
						<img src="{% static 'images/pymes/marketing-digital.png' %}" alt="widget-image">
					</div>
				</div>
			</div>
		</div>

		<div class="widget-2 text-right pushtop-180 drag-this-up">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<img src="{% static 'images/pymes/marketing-productividad.png' %}" alt="widget-image" class="pull-right">
					</div>
					<div class="col-lg-6">
						<p class="pretitle">NUESTRA METODOLOGÍA</p>
						<h3 class="h3-size">Design thinking by <strong>pitahaya.</strong></h3>
						<p>
							Para que haya una conexión con las personas, es esencial saber que es realmente lo que buscan, necesitan.
							Para conseguirlo, hemos creado un proceso basado en la metodología <strong>Design Thinking</strong>,
							el cual nos permite encontrar y desarrollar la solución más adecuada, así como ponerla a prueba y replantearla constantemente.
						</p>
						<a href="{% url 'contacto' %}" class="button-link-1 pushtop-30 pull-right">COTIZAR</a>

					</div>
				</div>
			</div>
		</div>


	</main>


{% endblock %}
