html, body{
	overflow-x: hidden;
}

h2{
	text-transform:lowercase !important;
}

h2 > span {
    display: inline-block;
}

h2 > span:first-letter {
    text-transform: uppercase;
}

.h3-size{
	font-size: 60px;
}

.footer-p{
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.pushtop-30{
	margin-top: 30px;
}

.pushtop-180{
	margin-top: 180px;
}

.button-link-1{
	line-height: 60px;
	width: 185px;
	text-align: center;
	display: block;
	border-radius: 30px;
	background: #99cc33;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	font-weight: 600;
	transition: all 0.2s;
}

.button-link-1:hover{
	box-shadow: 0 0 10px 5px rgba(0,0,0,.1);
	color: #fff;
	text-decoration: none;
	transition: all 0.2s;
}

.nowrapped{
	white-space: nowrap;
}



.pull-right {
    float: right;
}
/*Typography $typography*/

.pretitle{
	font-family: 'lato';
	font-weight: 600;
	color: #899ea7;
	font-size: 14px;
	letter-spacing: 3px;
}


/*Header $header*/



.page-header h2{
	font-weight: 700;
	font-size: 60px;
	color: #fff;
}

.page-header p{
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	margin-top: 15px;
}

.header-slide{
	height: 53.7vw;
}

.header-slide .slider-background{
	position: absolute;
	width: 100%;
	height: auto;
}

.header-slide > .container{
	padding-top: 14.2vw;
	z-index: 1;
}

.header-slide h2{
	font-size: 76px;
	color: #99cc33;
	font-weight: 700;
}

.header-slide p{
	font-size: 23px;
	color: #99cc33;
	line-height: 48px;
	margin-top: 20px;
}

.header-slide .button-link-1{
	position: relative;
}

.header-slide .button-link-1.style-1{
	background-color: #fff;
	color: #31a6eb;
}

.header-slide .button-link-1.style-2{
	background-color: #fc824c;
}

.header-slide .button-link-1.style-3{
	background-color: #cc3366;
}

.header-slide .button-link-1.style-4{
	background-color: #9045f8;
}

.header-slide .button-link-1.style-1:hover{
	box-shadow: 0 0 10px 5px rgba(0,0,0,.1);
}

.header-slide.text-blended h2,
.header-slide.text-blended p{
	color: #000;
}


/*Widgets $widgets*/


.widget-1 h6 + p,
.widget-8 h6 + p{
	margin-top: 12px;
}

.widget-1 .image-holder{
	min-height: 125px;
	margin-bottom: 20px;
}

.widget-2.text-left h3 + p{
	margin-right: 100px;
}

.widget-2.text-right h3 + p{
	margin-left: 100px;
}


.button-link-1 i{
	margin-left: 10px;
	position: relative;
	left: 0;
	transition: left .3s;
}

.button-link-1:hover i{
	left: 6px;
	transition: left .3s;
}




@media (min-width: 1200px){
	.container{
		max-width: 1200px;
	}
}

@media (max-width: 1400px){
	.header-slide h2{
		font-size: 70px;
	}

}


@media(max-width: 1300px){
	.header-slide h2{
		font-size: 50px;
	}

	.header-slide p{
		font-size: 18px;
		line-height: 1.7;
	}

}


@media(max-width: 991px){


	.widget-2{
		text-align: center!important;
	}

	.widget-2 .button-link-1 {
		margin-right: auto;
		margin-left: auto;
		float: none;
	}

	.widget-2 h3 + p{
		margin-right: 0!important;
		margin-left: 0!important;
	}

	.widget-2 img{
		margin-top: 20px;
		width: 100%!important;
	}

	.widget-2.text-left.expanded img,
	.widget-2.text-right.expanded img{
		position: relative;
		margin-bottom: 30px;
	}

}



@media(max-width: 823px){
.header li {
    margin: 0 !important;
}
}


@media(max-width: 767px){

	.header-slide p{
		display: none;
	}

	.header-slide h2{
		text-align: center;
		font-size: 40px;
		margin-top: 20px;
	}

	.header-slide .button-link-1{
		margin-left: auto;
		margin-right: auto;
	}

}

@media(max-width: 575px){

	.header-slide .button-link-1{
		line-height: 40px;
		width: 160px;
		margin-top: 10px;
	}
}


@media(max-width: 450px){

	.header-slide > .container{
		padding-top: 0;
	}

	.header-slide h2{
		font-size: 35px;
	}

	.buttons .button-link-1:not(:last-child){
		margin-right: 0;
		margin-bottom: 10px;
	}



@media (max-width: 320px){
	.header-slide h2{
		font-size: 30px;
	}
}

@media (min-width: 320px){
	.header-slide{
		margin-top:-10px;
	}
}

/*Cool visuals - $visuals*/

.drag-up {
	transform: translateY(100px);
	opacity: 0;
	animation: drag-up 0.8s ease forwards;
	transition: 0.8s ease opacity;
}

@keyframes drag-up {
	to {
		transform: translateY(0);
		opacity: 1;
	}
}


.drag-left {
	opacity: 0;
	transform: translateX(-100px);
	animation: drag-left 0.8s ease forwards;
	transition: 0.8s ease opacity;
}

@keyframes drag-left {
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

.drag-right {
	opacity: 0;
	transform: translateX(100px);
	animation: drag-right 0.8s ease forwards;
	transition: 0.8s ease opacity;
}

@keyframes drag-right {
	to {
		transform: translateX(0);
		opacity: 1;
	}
};
