@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?844elr');
  src:  url('../fonts/icomoon.eot?844elr#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?844elr') format('truetype'),
    url('../fonts/icomoon.woff?844elr') format('woff'),
    url('../fonts/icomoon.svg?844elr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e900";
}

html {
  scroll-behavior: smooth;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
  margin:0;
  overflow-x: hidden;
  height:100%;

}

body::-webkit-scrollbar{
    width: 10px;
    background: black;
}
body::-webkit-scrollbar-thumb{
    background: #cc3366;
    border-radius: 4px;
}



h1,h2,h3,h4,h5,h6{
  color:#000;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin:0;
}

h1 {
  font-size: 32px;
  margin-bottom: 15px;
  text-transform: none;
 }

 h1 strong{
   color: #cc3366;
 }

 h2 strong{
   color: #cc3366;
 }

 h3 strong{
   color: #cc3366;
 }

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p strong{
  color: #cc3366;
}

/* .home {
    background-image: url("../images/aparticula_homepage_background.jpg");
 } */

 .header {
   background: rgba(0,0,0,0.8);
   display:flex;
   height:60px;
   align-items:center;
   justify-content: space-between;
   flex-wrap: wrap;
   position: fixed;
   width: 100%;
   z-index: 1;

 }

 .menu{
   height:inherit;
   font-family: 'Lato', sans-serif;


 }

 .header ul{
   display:flex;
   height:inherit;
 }

 .header li{
   height: inherit;
   margin: 0 0 0 40px;
 }
 .header a{
   height:inherit;
   display:flex;
   align-items: center;
   padding: 0 2%;
   text-decoration: none;
   color:#fff;
   text-transform: uppercase;
   /* font-size: 14px; */
 }

 ul{
   margin:0;
   padding:0;
   list-style: none;
 }

 .header .logo{
   margin:0;
 }

 .header:after {
   content: "";
   position: absolute;
   bottom: -1px;
   left: 0;
   right: 0;
   height: 1px;
   background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#8cc63f), to(#cfde00));
   background-image: -webkit-linear-gradient(left, #8cc63f, #cfde00);
   background-image: -moz-linear-gradient(left, #8cc63f, #cfde00);
   background-image: -o-linear-gradient(left, #8cc63f, #cfde00); }

/* .link-effect,
.link-effect:hover,
.link-effect:focus {
  outline: none;
} */

.link-effect::before,
.link-effect::after{
  /* display: inline-block; */
  opacity: 0;
  color: #99cc33;
  /* -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s; */
}

.link-effect::before {
  margin-right: 10px;
  content: '\2022';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.link-effect::after {
  margin-left: 10px;
  content: '\2022';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.link-effect:hover::before,
.link-effect:hover::after,
.link-effect:focus::before,
.link-effect:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

  .scale-1-3 {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .scale-1-3:hover {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }


  .wrapper{
    /* border: 1px solid red; */
    max-width: 1200px;

    height: inherit;
    margin:0 auto;
    flex:1;
    display:inherit;
    justify-content: inherit;
    align-items:inherit;
    flex-wrap: inherit;
    /* border:1px solid red; */
  }


.hero{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
  /* position: absolute; */
  flex-wrap: wrap;

}

.hero h1{
  font-size: 4em;
  max-width: 70%;
  margin: 5% auto 3%;
  text-align: center;
  text-transform: none;
  font-weight: 300;
  color: #fff;
  margin-top: 0;
  opacity:0;
  -webkit-animation: fadeIn 0.5s 1.5s 1 forwards;
  -moz-animation: fadeIn 0.5s 1.5s 1 forwards;
  animation: fadeIn 0.5s 1.5s 1 forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; }
  }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; }
  }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; }
  }


/* Start lines animation */
.lines {
  height: 80%;
  width: 90%;
  top: 50%;
  left: 50%;
  /* Start Acceleration */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  /* End Acceleration */
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.lines,
.lines span {
  position: absolute;
}

.lines::before, .lines::after,
.lines span::before,
.lines span::after {
  background-color: #f8f8f8;
  content: "";
  display: block;
  position: absolute;
 }

.lines::before,
.lines span::before {
  left: 0; }

.lines::after,
.lines span::after {
  right: 0;
}

.lines span {
  height: 100%;
  width: 100%;
}

.lines::before, .lines::after {
  height: 2px;
  width: 0;
  /* Start Acceleration */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  /* End Acceleration */
  -webkit-animation: topLines 0.5s 0.5s 1 forwards;
  -moz-animation: topLines 0.5s 0.5s 1 forwards;
  animation: topLines 0.5s 0.5s 1 forwards;
}

.lines::before {
  top: 0;
  left: 0;
}

.lines::after {
  top: 0;
  right: 0;
}

@-webkit-keyframes topLines {
  0% {
    width: 0; }
  100% {
    width: 50%; }
  }

@-moz-keyframes topLines {
  0% {
    width: 0; }
  100% {
    width: 50%; }
  }

@keyframes topLines {
  0% {
    width: 0; }
  100% {
    width: 50%; }
  }


.bottom-lines::before, .bottom-lines::after {
  height: 2px;
  width: 0;
  /* Start Acceleration */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  /* End Acceleration */
  -webkit-animation: bottomLines 0.5s 1s 1 forwards ease-in-out;
  -moz-animation: bottomLines 0.5s 1s 1 forwards ease-in-out;
  animation: bottomLines 0.5s 1s 1 forwards ease-in-out; }

.bottom-lines::before {
  bottom: 0; }

.bottom-lines::after {
  bottom: 0; }

@-webkit-keyframes bottomLines {
  0% {
    width: 0; }
  100% {
    width: 45%; }
  }

@-moz-keyframes bottomLines {
  0% {
    width: 0; }
  100% {
    width: 45%; }
  }

@keyframes bottomLines {
  0% {
    width: 0; }
  100% {
    width: 40%; }
  }

.hero .logo .logo-brand{
  position: absolute;
  height: 80%;
  top: 49%;
  left: 44.6%;
  /* max-width: 400px; */
  opacity: 0;
  -webkit-animation: fadeIn 0.5s 1.5s 1 forwards ease-in-out;
  -moz-animation: fadeIn 0.5s 1.5s 1 forwards ease-in-out;
  animation: fadeIn 0.5s 1.5s 1 forwards ease-in-out;
}

  .side-lines::before, .side-lines::after {
    width: 2px;
    height: 0;
    /* Start Acceleration */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    /* End Acceleration */
    -webkit-animation: sideLines 0.5s 1s 1 forwards ease-in-out;
    -moz-animation: sideLines 0.5s 1s 1 forwards ease-in-out;
    animation: sideLines 0.5s 1s 1 forwards ease-in-out;
  }

  .side-lines::before {
    top: 0;
  }

  .side-lines::after {
    top: 0;
  }

  @-webkit-keyframes sideLines {
    0% {
      height: 0; }
    100% {
      height: 100%; }
    }

  @-moz-keyframes sideLines {
    0% {
      height: 0; }
    100% {
      height: 100%; }
    }

  @keyframes sideLines {
    0% {
      height: 0; }
    100% {
      height: 100%; }
    }
/* End lines animation */

.agencia{
  width:100%;
}

.diagonal {
  padding-top: 60px;
  margin-top:0;
  height: 100px;
  width: 150%;
  overflow: hidden;
  position: relative;
  /*opacity: .95;*/
      background: #000;
  }

.diagonal::before {
  content: '';
  display: block;
  height: 200px;
  width: 100%;
  background: #f4f4f4;
  /* Hardware Acceleration */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
    /* End Hardware Acceleration */
  -webkit-transform: rotate(-1.5deg);
  -moz-transform: rotate(-1.5deg);
  -o-transform: rotate(-1.5deg);
  transform: rotate(-1.5deg);
  z-index:-10;
 }

 .texto-agencia {
    padding: 0 0 1em;
    background: #fff;
    text-align: center;
    overflow: hidden;
 }


 .texto-agencia h2 {
    padding: 1.5em 0 0.5em;
    margin: 0 0 1em;
    position: relative;
    display: inline-block;
 }

 .texto-agencia h2:after {
    content: "";
    position: absolute;
    bottom: -2px;
    width: 100%;
    left: 0;
    right: 0;
    height: 2px;
    background-image: -webkit-gradient(linear,0 0,100% 0,from(#eb516d),to(#f58a5a));
    background-image: -webkit-linear-gradient(left,#eb516d,#f58a5a);
    background-image: -moz-linear-gradient(left,#eb516d,#f58a5a);
    background-image: -o-linear-gradient(left,#eb516d,#f58a5a);
 }


 .texto-agencia p {
    /* font-size: 16px; */
    line-height: 28px;
    color: gray;
    max-width: 1024px;
    /* font-weight: 300; */
    margin: 15px auto 15px;
    -webkit-font-smoothing: antialiased;
    -khtml-font-smoothing: antialiased;
    -apple-font-smoothing: antialiased;
    font-smooth: always;
    text-rendering: optimizelegibility;
 }

 .texto-agencia .btn {
    text-align: center;
    margin-top: 1.7em;
 }

 .texto-agencia a {
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -khtml-font-smoothing: antialiased;
    -apple-font-smoothing: antialiased;
    font-smooth: always;
    text-rendering: optimizelegibility;
 }



 .home-btn {
    margin: 10px auto;
 }

 .btn {
    /* position: relative;
    border:1px solid red;
    height: 38px;
    display: block;
    line-height: 34px;
    padding: 0 10px; */
    width: 150px;
    height: 150px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #cc0066;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.3s ease-in-out;
 }



.btn:hover {
    background-blend-mode: color-dodge !important;
    border-radius: 50%;
    background-color: #cc0066 !important;
    color: #444444;
    /* background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#8cc63f), to(#cfde00));
    background-image: -webkit-linear-gradient(left, #8cc63f, #cfde00);
    background-image: -moz-linear-gradient(left, #8cc63f, #cfde00);
    background-image: -o-linear-gradient(left, #8cc63f, #cfde00); */
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
 }





.metodologia-bg{

  position: relative;
  background: url('../images/agencia-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: #f4f4f4;



}

.metodologia-container{
  display:grid;
  grid-template: 150px 1fr 300px / 1fr;
  grid-gap: 5px;
  height:100vh;
  grid-template-areas:  "metodologia-pq-nosotros" "metodologia-slideshow" "metodologia-que-hacemos" ;
  padding: 3.3em 2em;
}

.item{
  /* background-color: lightblue; */
  padding:10px;
  /* border:1px solid red; */
}




.subitem{
  /* background-color: lightblue; */
  padding:10px;
  border:1px solid red;
  /* display:flex; */
  align-items: center;
  justify-content:space-between;
}

.inbox{
  /* background-color: lightblue; */
  padding:10px;
  /* border:1px solid red; */
  display:grid;
  align-items: center;
  grid-template-columns: 250px 1fr;

}



.metodologia-pq-nosotros{
  grid-area:metodologia-pq-nosotros;
  text-align: center;

}

.metodologia-pq-nosotros h2 {
   margin: 0 0 1em;
   position: relative;
   display: inline;
}

.metodologia-pq-nosotros h2:after {
   content: "";
   position: absolute;
   bottom: -6px;
   width: 100%;
   left: 0;
   right: 0;
   height: 2px;
   background-image: -webkit-gradient(linear,0 0,100% 0,from(#eb516d),to(#f58a5a));
   background-image: -webkit-linear-gradient(left,#eb516d,#f58a5a);
   background-image: -moz-linear-gradient(left,#eb516d,#f58a5a);
   background-image: -o-linear-gradient(left,#eb516d,#f58a5a);
}


.metodologia-pq-nosotros p {
   /* font-size: 16px; */
   line-height: 28px;
   color: gray;
   max-width: 1024px;
   /* font-weight: 300; */
   margin: 10px auto 0;
   -webkit-font-smoothing: antialiased;
   -khtml-font-smoothing: antialiased;
   -apple-font-smoothing: antialiased;
   font-smooth: always;
   text-rendering: optimizelegibility;
}

.metodologia-pq-nosotros .btn {
   text-align: center;
   margin-top: 1.7em;
}

.metodologia-pq-nosotros a {
   font-weight: 300;
   -webkit-font-smoothing: antialiased;
   -khtml-font-smoothing: antialiased;
   -apple-font-smoothing: antialiased;
   font-smooth: always;
   text-rendering: optimizelegibility;
}







.metodologia-description{
  grid-area: metodologia-description;
  /* padding:2em; */
  text-align: left;
}

.metodologia-description h3{
  margin:0;
}

.metodologia-description p{
  line-height: 28px;

}



.metodologia-slideshow{
  grid-area: metodologia-slideshow;
}

.item:nth-of-type(2){
  margin: 0 auto;
  background-image: url("../images/metodologia-bg.png");
  background-repeat: no-repeat;
  position:relative;
  background-size: 100% auto;
  background-origin: content-box;
  padding:4em 0 3em 0;
}

.button-link-0{
	line-height: 60px;
	width: 150px;
	text-align: center;
	display: inline-block;
  text-decoration: none;
	border-radius: 30px;
	background: #38d5e2;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	font-weight: 600;
	transition: all 0.2s;
}

.button-link-0:hover{
	box-shadow: 0 0 10px 5px rgba(0,0,0,.2);
	color: #fff;
	text-decoration: none;
	transition: all 0.2s;
}

.button-link-0.style-4{
	background-color: #cc3366;
}

.button-link-00{
	line-height: 60px;
	width: 150px;
	text-align: center;
	display: inline-block;
  text-decoration: none;
	border-radius: 30px;
  margin-top:1em;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	font-weight: 600;

}

.button-link-00:hover{
	box-shadow: 0 0 10px 5px rgba(255,255,255,.2);
	color: #fff;

}
.button-link-00.style-5{
	background-color: #99cc33;
}


.slideshow-container{
  max-width:1000px;
  position:relative;
  margin:auto;
  color:black;
  }

.titulo-slider{
  color:#941e5a !important;
}

.descripcion-slider{
  color:black !important;
  text-align: center;
}




.mySlides{
  /* position:relative; */
  overflow:hidden;
  display:none;
  margin-top:0;
  /* margin: 50px auto 0; */
    }

.prev{
  background-color:rgba(0,0,0,0.8);
  color:white!important;
  left:0!important;
  border-radius:3px 3px 3px 3px;
      }

.prev,.next{
  cursor:pointer;
  position:absolute;
  top:50%;
  width:auto;
  margin-top:-22px;
  padding:16px;
  color:#222428;
  font-weight:bold;
  font-size:30px;
  transition:.6s ease;
  border-radius:0 3px 3px 0;
  display:none;
      }

.prev{
  left:-50px;
  border-radius:3px 3px 3px 3px;
  }

.prev:hover,.next:hover{
  color:#f2f2f2;
  background-color:rgba(0,0,0,0.8);
  }

.next{
  background-color:rgba(0,0,0,0.8);
  color:white!important;
  right:0!important;
  border-radius:3px 3px 3px 3px
  }

.next{
  right:-50px;
  border-radius:3px 3px 3px 3px
  }

.fade{
  -webkit-animation-name:fade;
  -webkit-animation-duration:1.5s;
  animation-name:fade;
  animation-duration:1.5s;
    }

@-webkit-keyframes fade{
  from{
    opacity:.4;
      }
  to{
    opacity:1;
      }
    }

@keyframes fade{
  from{
    opacity:.4;
      }
  to{
    opacity:1;
    }
  }

.dot{
  cursor:pointer;
  height:15px;
  width:15px;
  margin:0 2px;
  background-color:#941e5a;
  border-radius:50%;
  display:inline-block;
  transition:background-color .6s ease;
      }
.active,.dot:hover{
  background-color:rgba(125,134,140,0.27);
    }

.mySlides h4{
 text-align: center;
 font-size: 1em;
 text-transform: uppercase;
 margin-bottom: 0;
 margin-top: 1em;
 color:gray;
 font-weight: bold;
 letter-spacing: 2px
}

.mySlides p{
  margin-top: 0.5em;
  color:gray;

}
.metodologia-que-hacemos{
  grid-area: metodologia-que-hacemos;
  text-align: center;
}
.metodologia-que-hacemos-right{
  grid-area: metodologia-que-hacemos-right;
  display:grid;
  grid-gap: 10px;
  /* grid-template-rows: auto auto auto; */
  padding:0 0 0.5em;
}
.metodologia-que-hacemos-right h1{
  margin:0;
}


.metodologia-que-hacemos p{
  line-height: 28px;

}

/* .item:nth-of-type(4){
background-color:#eb516d ;
} */
.subitem:nth-of-type(even){
background-color:#fff;

}
.subitem:nth-of-type(odd) h1{
color:#fff;
}

.subitem:nth-of-type(odd) li{
color:#fff;
}

.subitem:nth-of-type(even) h1{
color:#cc0066 ;
}

.subitem:nth-of-type(even) li{
color:#cc0066 ;
}
.subitem:nth-of-type(odd){
background-color:#cc0066 ;
}
.subitem:nth-of-type(odd) strong{
  font-weight: bold;
  font-size: 2em;
  color:#fff;

}

.subitem:nth-of-type(even) strong{
  font-weight: bold;
  font-size: 2em;
  color:#cc0066 ;
}
.metodologia-que-hacemos h3{
  margin-top:0;
}



.servicios-bg{
      background: #fff;

}



.servicios-container{
  display:grid;
  grid-template:  200px 150px 150px 150px / 400px;
  grid-gap: 5px;
  height:100vh;
  grid-template-areas:  "servicio-title servicio-title servicio-title servicio-title" "servicio-estrategico output-servicios output-servicios output-servicios" "servicio-creativo output-servicios output-servicios output-servicios"
  "servicio-desarrollo output-servicios output-servicios output-servicios";
  position: absolute;
  max-width: 62.3%;
  background: rgba(255,255,255,0.8);
  padding: 3.3em 2em;
}

canvas{
  width: 100% !important;
  height:100% !important;
}

.servicio-title{
  grid-area: servicio-title;
}

.servicio-estrategico{
  grid-area: servicio-estrategico;
}

.servicio-creativo{
  grid-area: servicio-creativo;
}
.servicio-desarrollo{
  grid-area: servicio-desarrollo;
}

.output-servicios{
  grid-area: output-servicios;
}

.serv-item{
  padding: 0 15px;
}


.serv-item:nth-child(1){
text-align: center;

}

.serv-item:nth-child(1) h1{
text-transform: uppercase;

}

.serv-item:nth-child(5) h5{
  color:white;
}
.serv-item:nth-child(2){
  background: rgba(244, 244, 244, 0.7);

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 7px;
  border-radius: 5px;
}
.serv-item:nth-child(3){
  background: rgba(244, 244, 244, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 7px;
  border-radius: 5px;

}
.serv-item:nth-child(4){
  background: rgba(244, 244, 244, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 7px;
  border-radius: 5px;

}




.opcion{


  cursor:pointer;

}

.output-servicios{
  background-image:url(../images/bg-descripcion-servicio2.png);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  left: -1.5vw;
  color:white;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  padding: 0 15px;

}
.serv-item.opcion.activo h4 {
    color: white;
}

.output-servicios h5{
  text-transform: uppercase;
  margin:0 0 15px 0;
  color:white;
  text-align: center;

}



.output-servicios span{
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.output-servicios span:after{
  content:'|';
  display:inline-block;
  margin:0 5px;
}
.output-servicios span:last-child:after{
  display:none;
}

/* .lista-tareas{
  padding-bottom:25px;
  text-align: center;
} */





.activo{
      /* background-blend-mode: color-dodge !important; */
      /* border-radius: 50%; */
      background-color: #cc3366 !important;
      color: #444444;
      /* background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#8cc63f), to(#cfde00));
      background-image: -webkit-linear-gradient(left, #8cc63f, #cfde00);
      background-image: -moz-linear-gradient(left, #8cc63f, #cfde00);
      background-image: -o-linear-gradient(left, #8cc63f, #cfde00); */
      -webkit-transition: all 0.8s ease-in-out;
      -moz-transition: all 0.8s ease-in-out;
      -o-transition: all 0.8s ease-in-out;
      transition: all 0.8s ease-in-out;
}
.btn2 {
   position: relative;
   border:1px solid #cfde00;
   height: 38px;
   display: block;
   line-height: 34px;
   padding: 0 10px;
   width: 200px;
   /* margin: auto; */
   text-align: center;
   font-size: 16px;
   text-transform: uppercase;
   color: #cfde00;
   text-decoration: none;
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
   transition: all 0.3s ease-in-out;
}

.btn2:hover {

    color: #444444;
    background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#8cc63f), to(#cfde00));
    background-image: -webkit-linear-gradient(left, #8cc63f, #cfde00);
    background-image: -moz-linear-gradient(left, #8cc63f, #cfde00);
    background-image: -o-linear-gradient(left, #8cc63f, #cfde00);
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
 }

 * {
   box-sizing: border-box;
 }

 .row {
   margin: 10px -16px;
   margin-bottom: 0;
 }

 /* Add padding BETWEEN each column */
 .row,
 .row > .category-portfolio {
   padding: 8px;
 }

 /* Create three equal columns that floats next to each other */
 .category-portfolio {
   float: left;
   width: 25%;
   display: none; /* Hide all elements by default */
 }

 /* Clear floats after rows */
 .row:after {
   content: "";
   display: table;
   clear: both;
 }

 /* Content */
 .content {
   background-color: white;
   padding: 10px;
   box-shadow: 0 4px 8px 0px rgba(0,0,0,0.8);
   transition: transform .3s ease-out;
 }
 .content:hover{
   transform: translate(0, -5px);
 }

 /* The "show" class is added to the filtered elements */
 .show {
   display: block;
 }

 /* Style the buttons */
 .btn-portfolio {
   border: none;
   outline: none;
   padding: 12px 16px;
   background-color: transparent;
   cursor: pointer;

 }

 .btn-portfolio:hover {
   /* background-color: #ddd; */

 }

 .btn-portfolio.active-tab {
   color: #cc3366;
 }

 .portfolio-bg{
  background-color: #f4f4f4;
  padding: 3.3em 2em;
 }

 .fuente{
   font-size: 16px;
   font-weight:bold;
   color:#606060;
   text-transform: uppercase;


 }

 #myBtnContainer{
   text-align: center;

 }

 .portfolio-header{
   text-align: center;
   padding-bottom: 1em;

 }
 .message-portfolio-header{
   text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
 }

.cursor-portfolio{
  cursor: pointer;
}
 .modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index:80; /* Sit on top */
   padding-top: 100px; /* Location of the box */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }

 /* Modal Content */
 .modal-content {
   background-color: #fefefe;
   margin: auto;
   padding: 20px;
   border: 1px solid #888;
   max-width: 600px;
 }

 /* The Close Button */
 .close {
   color: #aaaaaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
 }

 .close:hover,
 .close:focus {
   color: #000;
   text-decoration: none;
   cursor: pointer;
 }





  .contact-bg{
    /* background-color: #fff; */
    background: url(../images/contacto-bg.png);
    background-repeat: no-repeat;
    background-size: cover;

  }


  .contact-container{
    display:grid;
    grid-template: 150px 1fr / 1fr 500px;
    grid-gap: 5px;
    height:100vh;
    grid-template-areas: "contact-header contact-header" "contact-left contact-right";
    padding: 3.3em 2em;
  }

  .item-contact{
    padding:10px;
    /* border: 1px solid red; */
  }

  .contact-header{
    grid-area: contact-header;
    text-align: center;
  }

/* .contacto-header{
  grid-area: contacto-header;
  text-align: center;
  padding-top: 3em;
  z-index:5;
} */

.contact-left{
  grid-area: contact-left;
}

 /* .contacto-left{
   grid-area:contacto-left;
   z-index:5;

 } */

 .contact-right{
   grid-area: contact-right;
 }



 .form input{
   width:100%;
   padding:10px;
   font-family: 'Source Sans Pro', sans-serif;
   font-size:16px;
   border-bottom: 3px solid #cc3366;
   border-radius:5px;
   background: rgba(0,0,0,0.8);
   color:#fff;
   margin-bottom:10px;
   outline: none;
 }
 .form input:focus{
  border: 2px solid #99cc33;
 }

 ::placeholder {
   color: #fff;

}

.button-link-form.style-6{
	background-color: #99cc33;
}

.form button{
	line-height: 60px;
	width: 150px;
	text-align: center;
	display: inline-block;
  text-decoration: none;
	border-radius: 30px;
  margin-top:1em;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;

}

.button-link-form:hover{
	box-shadow: 0 0 10px 5px rgba(0,0,0,.2);
	color: #fff;

}



 .mensaje-formulario textarea {

resize: vertical;
width: 100%;
padding: 10px;
font-family: 'Source Sans Pro', sans-serif;
font-size: 16px;
border-bottom: 3px solid #cc3366;
border-radius: 5px;
background: rgba(0,0,0,0.8);
color:#fff;
margin-bottom: 10px;
outline:none;

  }

.mensaje-formulario textarea:focus{
  border: 2px solid #99cc33;
}






.contact-details i{
  color:#cc3366;
}

.telefono{
  display:flex;


}



.direccion{
  display:flex;
  padding-top: 1em;

}



.email{
  display:flex;
  padding-top:1em;
}

.redes-pitahaya{

  padding-top: 2em;
}

.redes-pitahaya i{
  color:#cc3366;
  margin-right: 10px;
  cursor: pointer;
}


.footer{
  align-items: center;
  background-color: #1b2127;
  color:white;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;
}

.footer img{
  vertical-align: middle;
  margin-left: 2px;
}

.footer i{
  color:#941e5a;
}

#map {
  height: 350px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
  margin-bottom: 20px;

 }


.telefono{
  padding: 0 0 1.3em 0;
}
.telefono i{
  font-weight: bold;
}
.telefono ::after{
    content: "099 077 4020";
    margin: 22px;
    color: black;
    font-weight: 700;
    font-size: 18px;
    font-family: source sans pro;
    text-transform: uppercase;

 }


.email ::after{
   content: "hola@pitahaya.ec";
   margin: 12px;
   color: black;
   font-weight: 700;
   font-size: 18px;
   font-family: source sans pro;
   text-transform: uppercase;

 }
 /* .direccion ::after{
   content: "Guayaquil-ecuador Urdesa Bálsamos 118 y Calle Única Edificio Semgroup Media Lab";
   margin: 20px;
   color: black;
   font-weight: 700;
   font-size: 18px;
   font-family: source sans pro;
   text-transform: uppercase;
 } */

 .direccion p{
   text-transform:uppercase;
   font-weight: 700;
   font-size: 18px;
   font-family: source sans pro;
   line-height: 1.4em;

 }

 #myVideo {
   position: absolute;
   right: 0;
   /* bottom: 0; */
   min-width: 100%;
   min-height: 100%;
   z-index: -1;
 }

 .isotipo-animado{
   position:absolute;
   top:454%;
    left:-15%;
   /* transform: translate(0%, 90%); */
   width:25%;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  opacity: 0.5;

 }


 path{
   /* stroke: #fff;
   fill: #fff; */
   stroke-dasharray:350;
   opacity: 10;
   animation:animate 7s cubic-bezier(0,0.23,1,.1);
   animation-iteration-count:infinite;
   /* animation-direction: alternate-reverse; */
   /* animation-direction: reverse; */
   /* animation-delay: 1s; */
   /* animation-fill-mode: backwards; */
 }

 @keyframes animate{
   0%{
     opacity: 0;
     fill:none;
     stroke-dasharray:0;
   }
   30%{
     opacity: 10;
     fill:none;
     stroke-dasharray:350;
     /* stroke:#cdde00; */
   }
   90%{
     fill:rgba(148,30,90,1);

   }
   100%{
     fill:rgba(148,30,90,1);
     /* fill:none; */
     stroke-dasharray:0;
     stroke:#cdde00;
   }

 }

.small-screen{
  display:none;
}

.burger-button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(148,30,90, .8);
  display: none;
  line-height: 40px;
  text-align: center;
  position: fixed;
  z-index: 20;
  right: 5px;
  top: 5px;
  color: white;
  font-size: 20px;
}


.hero .logo .isotipo-resp{
  position: absolute;
  height: 80%;
  top: 49%;
  left: 44.6%;
  /* max-width: 400px; */
  opacity: 0;
  -webkit-animation: fadeIn 0.5s 1.5s 1 forwards ease-in-out;
  -moz-animation: fadeIn 0.5s 1.5s 1 forwards ease-in-out;
  animation: fadeIn 0.5s 1.5s 1 forwards ease-in-out;
  display:none;
}

.servicios-responsive{
  display:none;
}

.mobile-slider{
  display: none;
}



/* MediaQuerys */


@media screen and (max-width: 1366px){
  .metodologia-container{
    height: auto;
  }
  .servicios-container{
    grid-template:150px 150px 150px 150px / 400px ;
    max-width: 88.6%;
  }

  .contact-container{
    height: auto;
  }

  .hero .logo .logo-brand{
    left:42.7%;
  }
  .hero h1{
    font-size: 3em;
  }
}

@media screen and (max-width: 1024px){
  .wrapper{
    padding: 0 1em;
  }

  .hero{
    height:auto;
    position:relative;
  }
  .hero h1{
    font-size: 4em;
  }

  .servicios-container{
    height:auto;
    /* grid-template: 1fr / 1fr;
    grid-template-areas: "servicio-title" "servicio-estrategico" "servicio-creativo" "servicio-desarrollo" "output-servicios" ; */
    grid-template:150px 100px 1fr / 200px 200px 200px ;
    grid-template-areas:"servicio-title servicio-title servicio-title""servicio-estrategico servicio-creativo servicio-desarrollo""output-servicios output-servicios output-servicios";
    padding: 2em 12em;
    position: relative;
  }

  .metodologia-container{
    grid-template: 150px 350px 1fr / 1fr 1fr;
  }

  .hero .logo .logo-brand {
    width: 150px;
    top:53.5%;
    left:43%;
  }

  .lines{
    height:90%;
  }

  canvas{
    display: none;
  }

}


/* iphoeX landscape */
@media screen and (max-width:812px){
  .header li {

    margin: 0;
}

.hero .logo .logo-brand {
    width: 130px;
    left: 42.2%;
}

canvas{
  display: none;
}
.servicios-container {
  position: relative;
  padding: 2em 6em;
}

.metodologia-container{

  padding: 0.5em 5px;
  height: auto;
  grid-template: 1fr / 1fr;
  grid-template-areas: "metodologia-pq-nosotros metodologia-pq-nosotros" "metodologia-description metodologia-description"  "metodologia-slideshow metodologia-slideshow" "metodologia-que-hacemos metodologia-que-hacemos";
}
}





/* medida standard */
@media screen and (max-width:768px){


  .contact-bg{
    background:#fff;
  }

  .mensaje-formulario textarea {
    font-size:1.375rem;
  }
  .form input{
    font-size:1.375rem;
  }
  .telefono ::after {
    font-size:1.375rem;
  }
  .email ::after {
    font-size:1.375rem;
  }
  .direccion ::after {
    font-size:1.375rem;
  }

  .message-portfolio-header{
    font-size:2rem;
  }

  .fuente{
    font-size:1.375rem;
  }
  h1{
    margin-top: 0.4em;
    margin-bottom: 0px;
    font-size: 2rem;
  }
  .metodologia-que-hacemos h3 {
    margin: 0;
}
.servicio-title h3{
  margin-top: 8px;
  margin-bottom: 0px;
}

  p{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size:1.375rem;
  }
  h4{
    font-size: 1.5em;
  }
  h3{
    font-size: 2rem;
  }

  .dot {

    height: 18px;
    width: 18px;
    margin: 0 8px;
  }

  .metodologia-container{

    padding: 0.5em 5px;
    height: auto;
    grid-template: 1fr / 1fr;
    grid-template-areas: "metodologia-pq-nosotros metodologia-pq-nosotros" "metodologia-description metodologia-description"  "metodologia-slideshow metodologia-slideshow" "metodologia-que-hacemos metodologia-que-hacemos";
  }

  .servicios-container{
    height:auto;
    /* grid-template: 1fr / 1fr;
    grid-template-areas: "servicio-title" "servicio-estrategico" "servicio-creativo" "servicio-desarrollo" "output-servicios" ; */
    grid-template:150px 100px 1fr / 200px 200px 200px ;
    grid-template-areas:"servicio-title servicio-title servicio-title""servicio-estrategico servicio-creativo servicio-desarrollo""output-servicios output-servicios output-servicios";
    padding: 2em 3.5em;
    position: relative;
  }


  canvas{
    display: none;
  }




  .contact-container{
    height: auto;
    grid-template-columns:1fr;
    grid-template-rows: 1fr;
    grid-template-areas:"contact-header" "contact-left" "contact-right";
  }
  .contact-header {
    padding-top: 0;
  }


  .header{
    display:block;
    height: auto;
    position: relative;
    z-index:0;
  }
  .header ul{
    display: block;
  }
  .header ul li{
    height:50px;
    margin: 0;
  }
  .header a{
    justify-content: center;
    height:40px;
    font-size: 1.5em;
    text-decoration: underline;
    margin-bottom: .5em;
  }
  .header .logo{
    text-align: center;
  }

  .menu{
    position:fixed;
    background:rgba(148,30,90,0.8);
    z-index: 3;
    top: 0;
    left: 100vw;
    width:100vw;
    /* height:100vh; */
    bottom:0;
    display:flex;
    align-items: center;
    justify-content: center;
    transition:.3s;
    overflow-y: hidden;

  }
  .menu.is-active{
    left:0;
  }

  .big-screen{
    display: none;
  }
  .small-screen{
    display: initial;
  }
  .burger-button{
    display:initial;
  }
  .hero .logo .logo-brand {
    display:none;
  }

  .hero .logo .isotipo-resp {
    display:initial;
    top: 56.5%;
    left: 47.5%;
  }

  .lines{
    height: 95%;
    top: 49%;
  }

}

@media screen and (max-width:667px){
.servicios-container {
  padding: 2em 1em;
}




@media screen and (max-width:577px){
  .hero h1{
    font-size: 2.5em;
  }
}

@media screen and (max-width:576px){
  .slideshow-container{
    display: none;
  }
  .dots{
    display: none;
  }

  .mobile-slider{
    display: grid;
    grid-template-columns: 1fr;
  }

  .slider{
    position:relative;
    text-align:center;
    color: grey;
    /* width:100%; */
  }

  .slider img{
    width:100%;
  }

  .top-center-mobile-text{
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .center-mobile-text{
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15%;
  }

  .bg-mobile-text{
    background:rgba(255,255,255,0.8);
    padding:10px;
    width: 315px;



  }




}




@media screen and (max-width:480px){


  .hero h1{
    font-size: 2.5em;
  }
}


@media screen and (max-width:420px){
  .hero h1{
    font-size: 2.3em;
  }
}

@media screen and (max-width:360px){




  .hero h1{
    font-size: 2.1em;
  }


  .servicio-title h3{
    font-size:16px;
    margin-bottom: 10px;
  }

  .servicios-responsive h4{
    margin-bottom: 8px;
    margin-top:10px;
}

  .servicios-responsive{
    display:initial;
    padding: 0 16px;
  }

  .servicios-responsive span {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.servicios-responsive span:after {
    content: '|';
    display: inline-block;
    margin: 0 3px;
}
.servicios-responsive span:last-child:after{
  display:none;
}


  .output-servicios{
    display:none !important;
  }

  .opcion{
    display:none !important;
  }

  .servicios-container{
    height:auto;
    grid-template: 1fr / 1fr ;
    grid-template-areas:"servicio-title" "estrategy-resp" "creative-resp" "development-resp";
    max-width:100%;
  }

  .estrategy-resp{
    grid-area: estrategy-resp;
  }

  .creative-resp{
    grid-area:creative-resp;
  }


  .development-resp{
    grid-area: development-resp;
  }


}


@media screen and (max-width:320px){
  .hero h1{
    font-size: 2em;
  }
}

@media screen and (max-width:568px){

  .category-portfolio {
    width: 50%;
}

  .hero h1{
    font-size: 1.8em;
  }
  .servicio-title h3{
    font-size:2rem;
    margin-bottom: 1em;
    padding: 0 10px;
  }

  .servicio-title h1{
    font-size:2rem;
  }
  .servicios-responsive{
    margin-bottom: 1.5em;
  }
  .servicios-responsive img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
  }

  .servicios-responsive h4{
    text-align: center;
    color: #cc0066;
    font-weight: bold;
  }

  .servicios-responsive p{
    font-size:1.375rem;
    text-align: center;
    margin-bottom: 1em;
  }

  .servicios-responsive h4{
    margin-bottom:1.5em;
    margin-top:10px;
}

.servicios-responsive span {
  font-size:1.375rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #cc0066;
}
.servicios-responsive span:after {
  content: '|';
  display: inline-block;
  margin: 0 3px;
}
.servicios-responsive span:last-child:after{
display:none;
}



  .servicios-responsive{
    display:initial;
    padding: 0 26px;
  }
  .output-servicios{
    display:none !important;
  }

  .opcion{
    display:none !important;
  }

  .servicios-container{
    height:auto;
    grid-template: 1fr / 1fr ;
    grid-template-areas:"servicio-title" "estrategy-resp" "creative-resp" "development-resp";
    max-width:100%;
  }

  .estrategy-resp{
    grid-area: estrategy-resp;
  }

  .creative-resp{
    grid-area:creative-resp;

  }


  .development-resp{
    grid-area: development-resp;
  }




}

@media screen and (max-width:640px){
  .hero h1{
    font-size: 2em;
    padding: 0 0 1em 0;

  }
  .lines {
    height: 90%;
    top: 47%;
}

  .hero .logo .isotipo-resp {
    top:50%;
  }

  .servicios-container{
    margin: 20px 0;
    padding: 10px 0;
  }

}

@media (min-width: 320px){
	.contact-bg{
    background: #fff;
	}
}
