{% extends 'base-inner.html' %}
{% load static %}
{% block title %} | Error Page{% endblock %}
{% block content %}
<!-- <section class="hero">
    <div class="error-bg">
      <div class="wrapper">
        <h1>Uhhmm...</h1>
        <p>Lo sentimos, la página que estas buscando aún no existe, por favor Vuelve a Iniciar.</p>
        <a href="{% url 'index' %}" class="button-link-1 style-3 pushtop-30">INICIO <i class="fa fa-caret-right"></i></a>
      </div>
    </div>
</section> -->

<section class="hero" id="hero">

  <div class="wrapper">

    <div id="errorPage">
      <img src="{% static 'images/not-found-404.jpg' %}" alt="">
    </div>
    <h1>Uhhmm...</h1>
    <p>Lo sentimos, la página que estas buscando aún no existe, por favor Vuelve a Iniciar.</p>
    <a href="{% url 'index' %}" class="button-link-1 style-3 pushtop-30">INICIO <i class="fa fa-caret-right"></i></a>
  </div>

</section>
{% endblock %}
